<html>
<body>
	<header>
	<h1> Esta es La Demo</h1>
	<nav>
		<li><a href="/administracion">Bodegas</a> </li>
		<li><a href="/admin">Consola de administraci&oacute;n</a> </li>
	</nav>
{% if hostname %}
<h2>{{ hostname }}</h2>
{% endif %}
	</header>
{% if lista_de_items %}
	<article>
		<h2>Items:</h2>
		<br>
		<h3>Catálogo:</h3>
		<ul>
		{% for item in lista_de_items %}
		    <li><a href="{% url 'relacion:detalle' item.id %}">{{ item.sku }}</a> - {{ item.nombre }} $ {{item.costo}}</li>
		{% endfor %}
		</ul>
	</article>
	<article>
		<h3>Stock:</h3>
		<p>
		{{ cantidades }}
		</p>
	</article>
{% else %}
	<article>
		<h3 color="red">No hay items en el sistema</h3>
	</article>
{% endif %}
</body>
</html>
